<footer class="bg-dark py-1 row d-print-none">
<div class="bottombar">
  <ul>
    {% if site.linkedin %}
    <li>
        <a href="https://br.linkedin.com/in/{{ site.linkedin }}" target="_blank">
        <i class="fab fa-linkedin"></i>
        </a>
    </li>
    {% endif %}
    {% if site.github %}
    <li>
        <a href="https://github.com/{{ site.github_user }}" target="_blank">
        <i class="fab fa-github"></i>
        </a>
    </li>
    {% endif %}
    {% if site.twitter %}
    <li>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <i class="fab fa-twitter"></i>
        </a>
    </li>
    {% endif %}
    {% if site.youtube %}
    <!--<li>
        <a href="https://www.youtube.com/channel/{{ site.youtube }}" target="_blank">
        <i class="fab fa-youtube"></i>
        </a>
    </li>-->
    {% endif %}
    {% if site.instagram %}
    <li>
        <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">
        <i class="fab fa-instagram"></i>
        </a>
    </li>
    {% endif %}
  </ul>

  <small>
    <i class="fa fa-copyright fa-flip-horizontal"></i>
    {{ site.ano }} {{ site.author }}
    <br>
    "Libera kiel en libereco"
  </small>
</div>
</footer>


<!--<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-center text-xs-center order-sm-2">
        {% if site.twitter %}<ul class="list-inline mb-0">
          <li class="list-inline-item mx-2 h1" data-toggle="tooltip" data-placement="top" title="" aria-label="Twitter" data-original-title="Twitter">
            <a class="text-white" target="_blank" href="https://twitter.com/{{ site.twitter }}">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>{% endif %}
      </div>
      <div class="col-6 col-sm-4 text-center text-xs-center order-sm-2">
        {% if site.linkedin %}<ul class="list-inline mb-0">
          <li class="list-inline-item mx-2 h1" data-toggle="tooltip" data-placement="top" title="" aria-label="LinkedIn" data-original-title="LinkedIn">
            <a class="text-white" target="_blank" href="https://linkedin.com/{{ site.linkedin }}">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>{% endif %}
      </div>
      <div class="col-6 col-sm-4 text-center text-xs-center order-sm-2">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mx-2 h1" data-toggle="tooltip" data-placement="top" title="" aria-label="GitHub" data-original-title="GitHub">
            <a class="text-white" target="_blank" href="{{ site.repo }}">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
    <div class="col-12 col-sm-6 text-center py-2 order-sm-1">
      <small class="text-white">© 2020 {{ site.author }} All Rights Reserved</small>
      {% if site.privacy %}<small class="ml-1"><a href="{{ site.privacy }}" target="_blank">Privacy Policy</a></small>{% endif %}
    </div>
  </div>
</footer>-->
